In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = "/home/iiitd/Data_DTC/sept_25_2100.csv"

In [3]:
X = pd.read_csv(filename)

In [4]:
X.head()

,trip_id,route_id,geometry,latitude,longitude,speed,vehicle_id,timestamp
0,3450,156,0101000020E6100000000000607451534000000080D081...,28.507088,77.272728,2.777778,DL1PC6647,2019-09-15 12:08:53+05:30
1,8145,304,0101000020E610000000000080764B5340000000601CB5...,28.707464,77.179108,0.555556,DL1PC4363,2019-09-15 12:08:42+05:30
2,14596,481,0101000020E6100000000000E0614E53400000006005AB...,28.668051,77.224724,0.000000,DL1PC5514,2019-09-15 12:08:40+05:30
3,8623,324,0101000020E6100000000000804B4F5340000000A059A6...,28.649805,77.238983,1.388889,DL1PC5035,2019-09-15 12:08:45+05:30
4,88767,53,0101000020E6100000000000608948534000000020D28E...,28.557894,77.133385,0.000000,DL1PD4167,2019-09-15 12:08:51+05:30

In [5]:
def getrow(input):
    newstr = ""
    for i in input:
        newstr += str(i) + ","
    return newstr[0:-1]+'\n'

In [6]:
header = getrow(X.keys())

In [7]:
header

'trip_id,route_id,geometry,latitude,longitude,speed,vehicle_id,timestamp\n'

In [8]:
X = np.array(X)

In [9]:
path = "./newcollecteddata/"
extension = ".csv"

In [10]:
# !rm ./newcollecteddata/*

In [11]:
filedict = {}

In [12]:
for i in range(len(X)):
    outfile = X[i][7].split()[0]
    if(outfile not in filedict):
        filedict[outfile] = open(path+outfile+extension,'w')
        filedict[outfile].write(header)
    row = getrow(X[i])
    filedict[outfile].write(row)

In [13]:
for i in filedict.keys():
    filedict[i].close()

In [1]:
# Y = pd.read_csv("./newcollecteddata/2019-09-21.csv")

In [2]:
# Y.head()