In [6]:
# from 
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.graph_objs as go

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

df = pd.read_csv(
    'https://gist.githubusercontent.com/chriddyp/' +
    '5d1ea79569ed194d432e56108a04d188/raw/' +
    'a9f9e8076b837d541398e999dcbac2b2826a81f8/'+
    'gdp-life-exp-2007.csv')
xd = pd.read_csv("./Delhi/sunday.csv")

app.layout = html.Div([
    dcc.Graph(
        id='life-exp-vs-gdp',
        figure={
            'data': [
                go.Scatter(
                    x=df[df['continent'] == i]['gdp per capita'],
                    y=df[df['continent'] == i]['life expectancy'],
                    text=df[df['continent'] == i]['country'],
                    mode='markers',
                    opacity=0.7,
                    marker={
                        'size': 15,
                        'line': {'width': 0.5, 'color': 'white'}
                    },
                    name=i
                ) for i in df.continent.unique()
            ],
            'layout': go.Layout(
                xaxis={'type': 'log', 'title': 'GDP Per Capita'},
                yaxis={'title': 'Life Expectancy'},
                margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
                legend={'x': 0, 'y': 1},
                hovermode='closest'
            )
        }
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)

Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1

In [1]:
import geopandasA

In [2]:
x = geopandas.read_file("./road_intersection_points.gpkg")

In [3]:
x.head()

,LINEARID,FULLNAME,RTTYP,MTFCC,LINEARID_2,FULLNAME_2,RTTYP_2,MTFCC_2,geometry
0,1104259114336,I- 70 Bus,I,S1200,1104259508972,I- 70 Bus,I,S1200,POINT (-104.986135 39.74006199999999)
1,1104259114336,I- 70 Bus,I,S1200,1104259508970,I- 70 Bus,I,S1200,POINT (-105.02986 39.740329)
2,1104259114336,I- 70 Bus,I,S1200,1104742588562,I- 70 Bus,I,S1200,POINT (-105.02986 39.740329)
3,1104259114336,I- 70 Bus,I,S1200,1104475295717,I- 70 Bus,I,S1200,POINT (-104.986135 39.74006199999999)
4,1104259114336,I- 70 Bus,I,S1200,110765264627,N Speer Blvd W,M,S1400,POINT (-104.99879 39.740022)

In [4]:
y = geopandas.read_file("./distancematrix.gpkg")

In [5]:
y.head()

,LINEARID,FULLNAME,RTTYP,MTFCC,LINEARID_2,FULLNAME_2,RTTYP_2,MTFCC_2,type,start,geometry
0,1104259114336,I- 70 Bus,I,S1200,1104259508972,I- 70 Bus,I,S1200,lines,"-104.986135, 39.740062","(LINESTRING (-104.986135 39.74006199999999, -1..."
1,1104259114336,I- 70 Bus,I,S1200,1104259508970,I- 70 Bus,I,S1200,lines,"-105.02986, 39.740329","(LINESTRING (-105.02986 39.740329, -105.02986 ..."
2,1104259114336,I- 70 Bus,I,S1200,1104742588562,I- 70 Bus,I,S1200,lines,"-105.02986, 39.740329","(LINESTRING (-105.02986 39.740329, -105.02986 ..."
3,1104259114336,I- 70 Bus,I,S1200,1104475295717,I- 70 Bus,I,S1200,lines,"-104.986135, 39.740062","(LINESTRING (-104.986135 39.74006199999999, -1..."
4,1104259114336,I- 70 Bus,I,S1200,110765264627,N Speer Blvd W,M,S1400,lines,"-104.99879, 39.740022","(LINESTRING (-104.99879 39.740022, -104.99879 ..."

In [9]:
X = raw_input().split(",")
print len(X),
for i in X:
    print i,

273, 790, 131, 367, 914, 140, 727, 41, 628, 594, 725, 289, 205, 496, 290, 743, 363, 412, 644, 232, 173, 8, 787, 673, 798, 938, 510, 832, 495, 866, 628, 184, 654, 296, 734, 587, 142, 350, 870, 583, 825, 511, 184, 770, 173, 486, 41, 681, 82, 532, 570, 71, 934, 56, 524, 432, 307, 796, 622, 640, 705, 498, 109, 519, 616, 875, 895, 244, 688, 283, 49, 946, 313, 717, 819, 427, 845, 514, 809, 422, 233, 753, 176, 35, 76, 968, 836, 876, 551, 398, 12, 151, 910, 606, 932, 580, 795, 187
98 273  790  131  367  914  140  727  41  628  594  725  289  205  496  290  743  363  412  644  232  173  8  787  673  798  938  510  832  495  866  628  184  654  296  734  587  142  350  870  583  825  511  184  770  173  486  41  681  82  532  570  71  934  56  524  432  307  796  622  640  705  498  109  519  616  875  895  244  688  283  49  946  313  717  819  427  845  514  809  422  233  753  176  35  76  968  836  876  551  398  12  151  910  606  932  580  795  187

In [ ]:
98 204  918  18  17  35  739  913  14  76  555  333  535  653  667  52  987  422  553  599  765  494  298  16  285  272  485  989  627  422  399  258  959  475  983  535  699  663  152  606  406  173  671  559  594  531  824  898  884  491  193  315  652  799  979  890  916  331  77  650  996  367  86  767  542  858  796  264  64  513  955  669  694  382  711  710  962  854  784  299  606  655  517  376  764  998  244  896  725  218  663  965  660  803  881  482  505  336  279
98 273  790  131  367  914  140  727  41  628  594  725  289  205  496  290  743  363  412  644  232  173  8  787  673  798  938  510  832  495  866  628  184  654  296  734  587  142  350  870  583  825  511  184  770  173  486  41  681  82  532  570  71  934  56  524  432  307  796  622  640  705  498  109  519  616  875  895  244  688  283  49  946  313  717  819  427  845  514  809  422  233  753  176  35  76  968  836  876  551  398  12  151  910  606  932  580  795  187

In [2]:
!pip3 install geoalchemy2 sqlalchemy

Collecting geoalchemy2
  Downloading https://files.pythonhosted.org/packages/49/4f/a10d1aed8211d42c9601a3977674fe03fc0bd5545944fd1cacd238532af2/GeoAlchemy2-0.6.3-py2.py3-none-any.whl
Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/55/98/56b7155bab287cd0c78dee26258835db36e91f2efef41f125ed6f6f1f334/SQLAlchemy-1.3.6.tar.gz (5.9MB)
    100% |████████████████████████████████| 5.9MB 62kB/s ta 0:00:012
Building wheels for collected packages: sqlalchemy
  Running setup.py bdist_wheel for sqlalchemy ... done
  Stored in directory: /home/ashish/.cache/pip/wheels/f2/ec/e0/d7deb0c981557e373edf7370574b7001690892afe5fea30c3c
Successfully built sqlalchemy
Installing collected packages: sqlalchemy, geoalchemy2
Successfully installed geoalchemy2-0.6.3 sqlalchemy-1.3.6

In [4]:
! conda install -c conda-forge geoalchemy2 sqlalchemy

Collecting package metadata (repodata.json): done
Solving environment: /
Warning: 4 possible package resolutions (only showing differing packages):
  - anaconda::ca-certificates-2019.1.23-0, anaconda::openssl-1.1.1b-h7b6447c_1
  - anaconda::openssl-1.1.1b-h7b6447c_1, defaults::ca-certificates-2019.1.23-0
  - anaconda::ca-certificates-2019.1.23-0, defaults::openssl-1.1.1b-h7b6447c_1
  - defaults::ca-certificates-2019.1.23-0, defaults::openssl-1.1.1b-h7b6447cdone

## Package Plan ##

  environment location: /home/ashish/anaconda3

  added / updated specs:
    - geoalchemy2
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.3.9           |           py37_0         149 KB  conda-forge
    conda-4.7.10               |           py37_0         3.0 MB  conda-forge
    geoalchemy2-0.6.3          |             py_0          20 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.2 MB

The following NEW packages will be INSTALLED:

  geoalchemy2        conda-forge/noarch::geoalchemy2-0.6.3-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                          anaconda --> conda-forge
  conda                                            anaconda --> conda-forge


Proceed ([y]/n)? ^C

CondaSystemExit:
Operation aborted.  Exiting.

In [54]:
# Imports
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import *
import pandas as pd
from shapely.geometry import Point
import geopandas as gpd


# Creating SQLAlchemy's engine to use
engine = create_engine('postgresql://dtc:dtc@localhost:5432/dtcdb')


geodataframe = gpd.read_file('./Delhi/data/newjsdata/delhi_stops_csv.csv')
#... [do something with the geodataframe]

# geodataframe['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326)

#drop the geometry column as it is now duplicative
# geodataframe.drop(column=['geometry'])

# Use 'dtype' to specify column's type
# For the geom column, we will use GeoAlchemy's type 'Geometry'
# geodataframe.to_sql(table_name, engine, if_exists='append', index=False, 
#                          dtype={'geom': Geometry('POINT', srid= <your_srid>)})

SyntaxError: unexpected EOF while parsing (<ipython-input-54-ef1eed8ec507>, line 24)

SyntaxError: unexpected EOF while parsing (<ipython-input-21-f409f8b9e678>, line 9)

In [50]:
# Imports
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import *
import pandas as pd
import geopandas as gpd


# Creating SQLAlchemy's engine to use
engine = create_engine('postgresql://dtc:dtc@localhost:5432/dtcdb')
cities = pd.read_csv('./Delhi/data/newjsdata/stops_lat_lon.csv')
geometry = [Point(xy) for xy in zip(cities['longitude'], cities['latitude'])]

# Coordinate reference system : WGS84
crs = {'init': 'epsg:4326'}

# Creating a Geographic data frame 
gdf = gpd.GeoDataFrame(cities, crs=crs, geometry=geometry)



#... [do something with the geodataframe]
# XX = pd.DataFrame.from_csv('./Delhi/data/newjsdata/delhi_stops_csv.csv')
# print(XX.keys())
# # XX = XX.drop(column=['geometry'])
# geodataframe = gpd.GeoDataFrame(XX)
# geodataframe['geom'] = geodataframe['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326)

#drop the geometry column as it is now duplicative
# geodataframe.drop(column=['geometry'])

# Use 'dtype' to specify column's type
# For the geom column, we will use GeoAlchemy's type 'Geometry'
# geodataframe.to_sql(table_name, engine, if_exists='append', index=False, 
#                          dtype={'geom': Geometry('POINT', srid= <your_srid>)})

NameError: name 'Point' is not defined

In [48]:
geodataframe.keys()

Index(['stop_id', 'stop_code', 'stop_name', 'latitude', 'longitude',
       'geometry'],
      dtype='object')

In [49]:
geodataframe.head()

,stop_id,stop_code,stop_name,latitude,longitude,geometry
0,0,U01761,Adarsh Nagar / Bharola Village,28.715917,77.170867,None
1,1,DC4248,British High Comission,28.598533,77.191383,None
2,2,U02398,Azad Market,28.6647,77.2084,None
3,3,U02416,Kidwai Nagar,28.5757,77.2097,None
4,4,DC4271,Rashid Market,28.6502,77.278667,None