In [6]:
# from 
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.graph_objs as go

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

df = pd.read_csv(
    'https://gist.githubusercontent.com/chriddyp/' +
    '5d1ea79569ed194d432e56108a04d188/raw/' +
    'a9f9e8076b837d541398e999dcbac2b2826a81f8/'+
    'gdp-life-exp-2007.csv')
xd = pd.read_csv("./Delhi/sunday.csv")

app.layout = html.Div([
    dcc.Graph(
        id='life-exp-vs-gdp',
        figure={
            'data': [
                go.Scatter(
                    x=df[df['continent'] == i]['gdp per capita'],
                    y=df[df['continent'] == i]['life expectancy'],
                    text=df[df['continent'] == i]['country'],
                    mode='markers',
                    opacity=0.7,
                    marker={
                        'size': 15,
                        'line': {'width': 0.5, 'color': 'white'}
                    },
                    name=i
                ) for i in df.continent.unique()
            ],
            'layout': go.Layout(
                xaxis={'type': 'log', 'title': 'GDP Per Capita'},
                yaxis={'title': 'Life Expectancy'},
                margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
                legend={'x': 0, 'y': 1},
                hovermode='closest'
            )
        }
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)

Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Running on http://127.0.0.1:8050/
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
Debugger PIN: 445-326-062
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1

In [1]:
import geopandasA

In [2]:
x = geopandas.read_file("./road_intersection_points.gpkg")

In [3]:
x.head()

,LINEARID,FULLNAME,RTTYP,MTFCC,LINEARID_2,FULLNAME_2,RTTYP_2,MTFCC_2,geometry
0,1104259114336,I- 70 Bus,I,S1200,1104259508972,I- 70 Bus,I,S1200,POINT (-104.986135 39.74006199999999)
1,1104259114336,I- 70 Bus,I,S1200,1104259508970,I- 70 Bus,I,S1200,POINT (-105.02986 39.740329)
2,1104259114336,I- 70 Bus,I,S1200,1104742588562,I- 70 Bus,I,S1200,POINT (-105.02986 39.740329)
3,1104259114336,I- 70 Bus,I,S1200,1104475295717,I- 70 Bus,I,S1200,POINT (-104.986135 39.74006199999999)
4,1104259114336,I- 70 Bus,I,S1200,110765264627,N Speer Blvd W,M,S1400,POINT (-104.99879 39.740022)

In [4]:
y = geopandas.read_file("./distancematrix.gpkg")

In [5]:
y.head()

,LINEARID,FULLNAME,RTTYP,MTFCC,LINEARID_2,FULLNAME_2,RTTYP_2,MTFCC_2,type,start,geometry
0,1104259114336,I- 70 Bus,I,S1200,1104259508972,I- 70 Bus,I,S1200,lines,"-104.986135, 39.740062","(LINESTRING (-104.986135 39.74006199999999, -1..."
1,1104259114336,I- 70 Bus,I,S1200,1104259508970,I- 70 Bus,I,S1200,lines,"-105.02986, 39.740329","(LINESTRING (-105.02986 39.740329, -105.02986 ..."
2,1104259114336,I- 70 Bus,I,S1200,1104742588562,I- 70 Bus,I,S1200,lines,"-105.02986, 39.740329","(LINESTRING (-105.02986 39.740329, -105.02986 ..."
3,1104259114336,I- 70 Bus,I,S1200,1104475295717,I- 70 Bus,I,S1200,lines,"-104.986135, 39.740062","(LINESTRING (-104.986135 39.74006199999999, -1..."
4,1104259114336,I- 70 Bus,I,S1200,110765264627,N Speer Blvd W,M,S1400,lines,"-104.99879, 39.740022","(LINESTRING (-104.99879 39.740022, -104.99879 ..."

In [9]:
X = raw_input().split(",")
print len(X),
for i in X:
    print i,

273, 790, 131, 367, 914, 140, 727, 41, 628, 594, 725, 289, 205, 496, 290, 743, 363, 412, 644, 232, 173, 8, 787, 673, 798, 938, 510, 832, 495, 866, 628, 184, 654, 296, 734, 587, 142, 350, 870, 583, 825, 511, 184, 770, 173, 486, 41, 681, 82, 532, 570, 71, 934, 56, 524, 432, 307, 796, 622, 640, 705, 498, 109, 519, 616, 875, 895, 244, 688, 283, 49, 946, 313, 717, 819, 427, 845, 514, 809, 422, 233, 753, 176, 35, 76, 968, 836, 876, 551, 398, 12, 151, 910, 606, 932, 580, 795, 187
98 273  790  131  367  914  140  727  41  628  594  725  289  205  496  290  743  363  412  644  232  173  8  787  673  798  938  510  832  495  866  628  184  654  296  734  587  142  350  870  583  825  511  184  770  173  486  41  681  82  532  570  71  934  56  524  432  307  796  622  640  705  498  109  519  616  875  895  244  688  283  49  946  313  717  819  427  845  514  809  422  233  753  176  35  76  968  836  876  551  398  12  151  910  606  932  580  795  187

In [ ]:
98 204  918  18  17  35  739  913  14  76  555  333  535  653  667  52  987  422  553  599  765  494  298  16  285  272  485  989  627  422  399  258  959  475  983  535  699  663  152  606  406  173  671  559  594  531  824  898  884  491  193  315  652  799  979  890  916  331  77  650  996  367  86  767  542  858  796  264  64  513  955  669  694  382  711  710  962  854  784  299  606  655  517  376  764  998  244  896  725  218  663  965  660  803  881  482  505  336  279
98 273  790  131  367  914  140  727  41  628  594  725  289  205  496  290  743  363  412  644  232  173  8  787  673  798  938  510  832  495  866  628  184  654  296  734  587  142  350  870  583  825  511  184  770  173  486  41  681  82  532  570  71  934  56  524  432  307  796  622  640  705  498  109  519  616  875  895  244  688  283  49  946  313  717  819  427  845  514  809  422  233  753  176  35  76  968  836  876  551  398  12  151  910  606  932  580  795  187